.main__chat__container {
  background-color: #232b2b;
  height: 100vh;
  width: 100vw;
}

/* Chat Session buttons */

.overflow-scrolling {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.chat__session__buttons {
  display: flex;
  justify-content: flex-end;
  padding-right: 2em;
}

.chat__session__buttons button {
  width: 7em;
  font-size: 0.8em;
  height: 2em;
  margin-right: 1em;
  margin-top: 0.2em;
  background-color: brown;
  color: white;
  border: none;
  border-radius: 0.2em;
}

.chat__session__buttons button:hover {
  cursor: pointer;
  background-color: rgb(97, 15, 15);
}

/* Chat Section */
.chat__section {
  width: 80%;
  height: 93vh;
  margin: 0 auto;
  margin-top: 1rem;
  background-color: #414a4c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat__section p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.message__field {
  flex-basis: 92%;
  width: 100%;
  overflow-y: scroll;
}

.message__field h4 {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  text-align: center;
  color: rgb(0, 255, 242);
}

.message__content__L,
.message__content__R {
  width: 50%;
  padding: 0.3em;
  color: white;
  text-align: justify;
  font-family: "Courier New", Courier, monospace;
  margin-top: 0.3em;
}

.message__content__L {
  border-top-right-radius: 0.8em;
  border-bottom-right-radius: 0.8em;
  background-color: brown;
}

.side__right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.message__content__R {
  background-color: rgb(0, 162, 255);
  border-top-left-radius: 0.8em;
  border-bottom-left-radius: 0.8em;
}

.message__content__R div {
  display: flex;
  justify-content: flex-end;
}

.content__title {
  font-weight: bolder;
}

.content__message {
  padding-top: 0.4em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.input__container {
  flex-basis: 8%;
  width: 100%;
}

.input__container div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.4em;
  width: 100%;
}

.input__container input {
  width: 80%;
  height: 2em;
  border: none;
  border-radius: 0.5em;
}

.input__container input:focus {
  outline-offset: 0px !important;
  outline: none !important;
}

.input__container svg {
  color: rgb(0, 162, 255);
  font-size: 2em;
}

.input__container svg:hover {
  cursor: pointer;
}

/* Participants List Stylings */
.participants__list__container {
  margin-top: 1.4em;
  max-height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.participants__list__item {
  display: flex;
  color: rgb(0, 255, 242);
  font-weight: bolder;
  border-top: rgb(0, 255, 242) solid;
  border-bottom: rgb(0, 255, 242) solid;
  border-width: thin;
  padding: 0.1em;
  justify-content: space-between;
  width: 100%;
}

.participants__list__item img {
  margin-top: 1em;
  margin-right: 1em;
}

.participant__email {
  margin-top: -1em;
  font-size: smaller;
  color: rgb(255, 103, 103);
  font-weight: bold;
}

.icon__indicator {
  height: 1em;
  width: 1em;
}

.icon__indicator__gray {
  height: 0.9em;
  width: 0.9em;
}

.list__name {
  display: flex;
}

.list__name svg {
  margin-top: 0.5em;
  margin-left: 0.5em;
}
.list__name svg:hover {
  cursor: pointer;
}

.add__participant {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.btn__add__participant {
  width: 10em;
  font-size: 0.8em;
  height: 2em;
  background-color: brown;
  color: white;
  border: none;
  border-radius: 0.2em;
}

.btn__add__participant:hover{
  cursor: pointer;
  background-color: rgb(97, 15, 15);
}


/* Customize scroll bar */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #232b2b; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(243, 240, 240); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(248, 246, 246); 
}